body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    cursor: url(../images/general/touch_icon.png), auto;
}

@font-face {
  font-family: 'FregatBold';
  src: url('fonts/FREGAT_BOLD.OTF');
}

@font-face {
  font-family: 'FregatRegular';
  src: url('fonts/FREGAT_REGULAR.OTF');
}